<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
			<link rel="manifest" href="/manifest.json">
			<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
			<meta name="theme-color" content="#ffffff">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<li><a href="/U2084">2084</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}
            
            <div class="hoverSecret"></div>
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:joshvinge@outlook.com">email</a></li>
	        		<li><a href="https://github.com/Hydro95">github.com/Hydro95</a></li>
	        		<li><a href="https://discordapp.com/">Hydro#0950 on discord</a></li>
				</ul>
			</footer>
		</body>
	</html>
